
<h1>update profile</h1>

<%= form_for @profile, :url => {:action => 'update'}, :html => { :multipart => true, :role => "form", class: "form-horizontal"  } do |form| %>
  	<div class="form-group">
    	<%= label_tag "Pic", nil, class: "col-sm-2 control-label" %>
    	<div class="col-sm-10">
	  		<%= form.file_field :avatar, class: "form-control" %>
	  	</div>
  	</div>
  	<div class="form-group">
    		<%= label_tag "Company", nil, class: "col-sm-2 control-label" %>
    	<div class="col-sm-10">
			<%= form.text_field :company, class: "form-control"%>
		</div>
	</div> 
  	<div class="form-group">
    		<%= label_tag "Position", nil, class: "col-sm-2 control-label" %>
    	<div class="col-sm-10">
			<%= form.text_field :position, class: "form-control"%>
		</div>
	</div> 
  	<div class="form-group">
    		<%= label_tag "Phone", nil, class: "col-sm-2 control-label" %>
    	<div class="col-sm-10">
			<%= form.text_field :phone, class: "form-control"%>
		</div>
	</div> 
  	<div class="form-group">
    		<%= label_tag "Micro-bio", nil, class: "col-sm-2 control-label" %>
    	<div class="col-sm-10">
			<%= form.text_field :micro_bio, class: "form-control micro-bio-validate"%>
		</div>
	</div> 
  	<div class="form-group">
    		<%= label_tag "Linked_In", nil, class: "col-sm-2 control-label" %>
    	<div class="col-sm-10">
			<%= form.text_field :linked_in, class: "form-control"%>
		</div>
	</div> 
  	<div class="form-group">
    		<%= label_tag "Twitter", nil, class: "col-sm-2 control-label" %>
    	<div class="col-sm-10">
			<%= form.text_field :twitter, class: "form-control"%>
		</div>
	</div> 
  	<div class="form-group">
    		<%= label_tag "github", nil, class: "col-sm-2 control-label" %>
    	<div class="col-sm-10">
			<%= form.text_field :github, class: "form-control"%>
		</div>
	</div> 
  	<div class="form-group">
    		<%= label_tag "Dribble", nil, class: "col-sm-2 control-label" %>
    	<div class="col-sm-10">
			<%= form.text_field :dribble, class: "form-control"%>
		</div>
	</div> 
  	<div class="form-group">
    		<%= label_tag "Behance", nil, class: "col-sm-2 control-label" %>
    	<div class="col-sm-10">
			<%= form.text_field :behance, class: "form-control"%>
		</div>
	</div> 


  	<div class="form-group">
    		<%= label_tag "Codepen", nil, class: "col-sm-2 control-label" %>
    	<div class="col-sm-10">
			<%= form.text_field :codepen, class: "form-control"%>
		</div>
	</div> 
	<%= hidden_field_tag "user[skill_ids][]", nil %>
	<% Skill.all.each do |skill| %>
		<%= check_box_tag "user[skill_ids][]", skill.id, current_user.skill_ids.include?(skill.id), id: dom_id(skill) %>
		<%= label_tag dom_id(skill), skill.skill_name %><br>
	<% end %>


	  	<div class="form-group">
 		<%= form.submit %>
  	</div>

<% end %>






