

<div class="text-center">
 <div class="btn-group">

    <button class="btn btn-default btn-lg dropdown-toggle " type="button" data-toggle="dropdown">
      <%= @skill.skill_name %> <span class="caret"></span>
    </button>    
    <ul class="dropdown-menu" role="menu">
    <% @skills.each do |skill| %>
		<li><%= link_to_unless_current(skill.skill_name, skill_path(skill.id)) do 
		      content_tag(:a, skill.skill_name, class: "disabled2")
		      end%> 
		</li>
      <% end %>
	</ul>
  </div>
</div>


<% @users.each do |user| %>
	<div class="profile-entry">
		<% if user.profile.present?  %>
			<div class="profile-image-div">
				<%= image_tag user.profile.avatar.url(:medium), size: "125x125" %>

			</div>
		<% end %>
		<div class="profile-text">
			<h3 class = "title"> <%= link_to user.first_name + " " + user.last_name, profile_path(user.id) %> </h3>
			<% if !user.profile.position.blank? && !user.profile.company.blank? %>
				<p><strong><%= user.profile.position + " @ " + user.profile.company  %></strong></p>
			<% end %>

				<p><a href="mailto:<%= user.email %>"><%= user.email %></a></p>
			<% if !user.profile.phone.blank? %>
				<% number = number_to_phone(user.profile.phone.tr('^0-9', '',).to_i, delimiter: ".") %>

				<p><a href="tel:<%= number %>"><%= number %></a></p>
			<% end %>

			<% if !user.profile.micro_bio.blank? %>
				<p>"<%= user.profile.micro_bio %>" </p>
			<% end %>
		</div>
		
		<div class="profile-socmed-div">
			<ul class="profile-ul" >
				<% if !user.profile.linked_in.blank? %>
				 	<li class="profile-socmed"><a href="<%= user.profile.linked_in %>" target="_blank"> <i class="fa fa-linkedin fontaweplus"></i></a> </li>
				<% end %>

				<% if !user.profile.twitter.blank? %>
					<li class="profile-socmed"><a href="<%= user.profile.twitter %>" target="_blank"> <i class="fa fa-twitter-square fontaweplus"></i></a> </li>
				<% end %>

				<% if !user.profile.github.blank? %>
					<li class="profile-socmed"><a href="<%= user.profile.github %>" target="_blank"> <i class="fa fa-github-square fontaweplus"></i></a> </li>
				<% end %>

				<% if !user.profile.dribble.blank? %>
					<li class="profile-socmed"><a href="<%= user.profile.dribble %>" target="_blank"> <i class="fa fa-dribbble fontaweplus"></i></a> </li>
				<% end %>

				<% if !user.profile.behance.blank? %>
					<li class="profile-socmed"><a href="<%= user.profile.behance %>" target="_blank"> <i class="fa fa-behance-square fontaweplus"></i></a> </li>
				<% end %>
				
				<% if !user.profile.codepen.blank? %>
					<li class="profile-socmed"><a href="<%= user.profile.codepen %>" target="_blank"> <i class="fa fa-codepen fontaweplus"></i></a> </li>
				<% end %>
			</ul>
		</div>
		
		<div class="profile-label-div">
			<ul class="profile-ul">
				<% user.skills.each do |skill| %>
					<li class="profile-label"><span class="label label-default2"><%= link_to skill.skill_name, skill_path(skill.id) %></span></li>
				<% end %>
			</ul>
		</div>

	</div>
<% end %>

