<div class="container-fluid">
	<div class="row">
		
		<div class="col-lg-9" id="div-events">
			<h1>Events</h1>
			<div id="events"></div>
		</div>
		
		<div class="col-lg-3"> 
			<h1>My Slots</h1>
				<% @slots.each do |sl| %>
					<p>
					<span class="schedules-name"> <%= sl.sheet.user.first_name + " " + sl.sheet.user.last_name %></span> <br>
					<span class="schedules-description"> <%= sl.sheet.description %> </span> <br>
					<span class="schedules-datetime"> <% formatted_date = Date.strptime(sl.sheet.date, '%m/%d/%Y') %> 
					<%= formatted_date.strftime("%B %-d, %Y") %> <br>
					<%= sl.start_time + " - " + sl.end_time %> <br> </span>
					<span class="schedules-release">
					<%= link_to "<release sign-up>", { :controller => 'mentors', :action => 'release_slots', :id => sl.id }, data: { confirm: "Click 'confirm' to release this slot." }, :method => :patch %>
					</span>
					</p>
				<% end %>
		</div>


	</div>
	<div class="row">
		
		<div class="col-lg-6" id="div-events">
			<h1>Mentor Slots</h1>
				<% @sheets.each do |s| %>
					<p> <span class="schedules-name"> <%= s.user.first_name + " " + s.user.last_name + ": " %> </span>
					<span class="schedules-description"> <%= s.description %>  </span> <br>

					<% formatted_date = Date.strptime(s.date, '%m/%d/%Y') %>
					<%= formatted_date.strftime("%B %-d, %Y") %>
					<% sorted_slots = s.slots.sort_by { |obj| obj.start_time } %>
    				<br>
    				<% sorted_slots.each do |sl| %>
		    			<% if sl.user_id %>
		    			<% else %>
		    			  <span class="schedules-datetime"> <%= sl.start_time + " - " + sl.end_time %> </span>
		    			  <span class="schedules-signup">
						  <%= link_to "<sign-up>", { :controller => 'mentors', :action => 'update_slots', :id => sl.id }, data: { confirm: "Click 'confirm' to sign-up for this slot." }, :method => :patch %>
						  </span>
		    			  <br>

		    			<% end %>
					<% end %>
    			<br></p>

    		<% end %>







		</div>
		
		<div class="col-lg-6"> 
			<h1>Room Reservation</h1>
		</div>


	</div>
</div>

























<!-- This script probably shouldn't be here, but wasn't  -->
<script>
	<% week =  DateTime.now + 7  %>
	$(document).ready(function() {

		$(document).on('click', '.more-span', function() {
			console.log($(this));
			var parContainer = $(this).closest(".event");
			var	moreP = parContainer.find(".descript-init-visible");
			var lessP = parContainer.find(".descript-init-hidden");
			moreP.toggle();
			lessP.toggle();
		});

		$(document).on('click', '.less-span', function() {
				var parContainer = $(this).closest(".event");
				var	moreP = parContainer.find(".descript-init-visible");
				var lessP = parContainer.find(".descript-init-hidden");
				moreP.toggle();
				lessP.toggle();
		});

		var googleAPI = "https://www.googleapis.com/calendar/v3/calendars/il372jv732jc51eia3mpk49mn4@group.calendar.google.com/events?";
		var googleOptions = {
			maxResults: 7,
			orderBy: "startTime",
			singleEvents: true,
			timeMax: "<%= week.to_formatted_s(:iso8601) %>",
			timeMin: "<%= DateTime.now.to_formatted_s(:iso8601) %>",
			key: "AIzaSyDWOPDecL_CWYy-OFphlX3GAtnn6v-ch2g"
		};
		function displayEvents(data) {
			var eventHTML = '<div>';
			$.each( data.items, function (i, event){
				eventHTML += '<div class="event">';

				//datetime
				if (event.start.dateTime) {		
					var d = new Date (event.start.dateTime);
					var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
					var hour = d.getHours();
					var revisedHour
					var p = ""
					if ( hour > 12 ) {
						revisedHour = hour - 12 ;
						p = "pm"
					} else {
						revisedHour = hour;
						p = "am"
					}
					var min = d.getMinutes();
					var revisedMin;
					if (min < 10 ) {
						revisedMin = "0" + min;
					} else {
						revisedMin = min;
					}

					var eventDateTime = '<span class="event-datatime">|   ' + months[d.getMonth()] + ' ' + d.getDate() + ' @ ' + revisedHour + ':' + revisedMin + p +'</span>';
				} else if (event.start.date) {
					var d = new Date (event.start.date);
					var d2 =  d.getDate()
					var d3 = d2 + 1


					var endDate1 = new Date (event.end.date);
					endDateN = endDate1.getDate();
					endDateN2 = endDateN - 1;

					endDate2 = new Date (endDate1.setDate(endDateN2));

					endDate4 = new Date (endDate1.setDate(endDateN));

					if (+d == +endDate2){
						var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
						eventDateTime = '<span class="event-datatime">|   ' + months[d.getMonth()] + ' ' + endDate4.getDate() + '</span>';
					} else {
						var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
						eventDateTime = '<span class="event-datatime">|     ' + months[d.getMonth()] + ' ' + d3  + '-' + endDate4.getDate() + '</span>';

					}
				} else {
					eventDateTime = "";
				}

				//event title
				if (event.htmlLink){
					eventHTML += '<h2 class="event-title"><a href="' + event.htmlLink + '"target="_blank">' + event.summary + ' </a> ' + eventDateTime + '</h2>';
				} else {
					eventHTML += '<h2>' + event.summary + eventDateTime + '</h2>';
				}
		
				//location
				if (event.location) {
					eventHTML += '<p class="event-deets"><span class="event-deets-heading">Location:</span> ' + event.location + '</p>';
				}
				if (event.description) {
					descriptArray = event.description.split(" ");
					shortDescriptArray = event.description.split(" ", 12);
					if (descriptArray.length > 12) {
						moreSpan = '... <span class="more-span"> &lt;more&gt; </span>';
						lessSpan = '<span class="less-span"> &lt;less&gt; </span>';
					} else {
						moreSpan = "";
						lessSpan = "";
					}
					eventHTML += '<p class="descript-init-visible event-deets"> <span class="event-deets-heading">Description:</span> ' + shortDescriptArray.join(" ") +  moreSpan + ' </p>';
					eventHTML += '<p class="descript-init-hidden event-deets"> <span class="event-deets-heading">Description:</span> ' + event.description + lessSpan + ' </p>';

				}
				eventHTML += '</div>';


			});
			eventHTML += '</div>';
			$("#events").html(eventHTML);
		}
		$.getJSON(googleAPI, googleOptions, displayEvents);
	});	
	</script>
