
<% @posts.each do |post| %>
      

  <div class="post-container">
    <div class="post clearfix " >
      <div class = "initial-post ">
        <h3 class="title writer"> <%= link_to post.user.first_name + " " + post.user.last_name, profile_path(post.user.id)  %> <span class ="deleted">
        <% if user_signed_in? %>
          <%= link_to "x", post, method: :delete, data: { confirm: "Click 'Confirm' to delete." } if can? :destroy, post %>
        <% end %>

        </span></h3>
        


        <p class="content"><%= simple_format(post.post_content) %></p>
        <p class="posted">posted <%= distance_of_time_in_words_to_now(post.created_at) + " ago." %>
        </p>

      </div>
    </div>
  <% if post.comments.present? %>
    <div class="comments-wrapper clearfix">
      <div class="comments">
        <% @comments.each do |comment| %>
            <% if comment.post_id == post.id %>
      	      <div class="comment">

              <h3 class="writer title"><%= link_to comment.user.first_name + " " + comment.user.last_name, profile_path(comment.user.id)  %>
                <% if user_signed_in? %>
                    <span class ="comment-deleted">
                      <%= link_to "x", comment, method: :delete, data: { confirm: "Click 'Confirm' to delete." } if can? :destroy, comment %>
                    </span>
                <% end %>

               </h3>
      	       <p class="content"><%= simple_format(comment.comment_content) %></p>
      	       <p class="posted-comment">posted <%= distance_of_time_in_words_to_now(comment.created_at) + " ago." %></p>
              </div>
            <% end %>          
        <% end %>
      </div>
    </div>
  <% end %>

  <% if post.comments.present? %>
    <% background_class = "reply-background-class1" %>
  <% else %>
    <% background_class = "reply-background-class2" %>
  <% end %>

    <div class="reply-form clearfix <%= background_class %>"> 
        <%= form_for(:comment, :url => {:controller => :comments, :action => 'create'}) do |f| %>
        <%= f.hidden_field :post_id, :value => post.id %>
          <%= f.text_area(:comment_content, :placeholder => "Your comment...",  rows:2, class: "reply-txtarea  form-validate") %>  
        <%= f.submit "<reply>", class: 'reply-submit' %>

        <% end %>     
    </div> 

  </div>

<% end %>

