   <div class="text-center">
   <div class="btn-group">

  <button class="btn btn-default btn-lg dropdown-toggle " type="button" data-toggle="dropdown">
    Whiteboard <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Hiring</a></li>
    <li><a href="#">Promote</a></li>
    <li><a href="#">Launch</a></li>
    <li><a href="#">Tools</a></li>
    <li><a href="#">Requests</a></li>
    <li><a href="#">Event</a></li> 
</div>
</div>
   

   <h3 id="newpost" class="new-post"> &lt;new_post&gt;</h3>
      <div class="input-append" id="hidden-textarea">
        <div class="input-group-btn">

          <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input type="checkbox" checked="checked"> General
            </label>
            <label class="btn btn-primary">
              <input type="checkbox"> Hiring
            </label>
            <label class="btn btn-primary">
              <input type="checkbox"> Promote
            </label>
            <label class="btn btn-primary">
              <input type="checkbox"> Launch
            </label>
            <label class="btn btn-primary">
              <input type="checkbox"> Tools
            </label>
            <label class="btn btn-primary">
              <input type="checkbox"> Request
            </label>
            <label class="btn btn-primary">
              <input type="checkbox"> Event
            </label>
          </div>

          <%= form_for(:post, :url => {:action => 'create'}) do |f| %>
          <%= f.text_area(:post_content, rows:5, class: "form-control") %>  
          <%= if user_signed_in? then f.hidden_field(:user_id, :value => current_user.id) end%>
          <%= f.submit(class: 'btn btn-default') %>
        </div>
        <% end %>

     </div>     





    <% @posts.each do |post| %>
      


      <div class="post">
        <div class = "initial-post">
          <h3 class="title writer"><%= post.user.first_name + " " + post.user.last_name %> <span class ="deleted">
          <% if user_signed_in? %>
            <% if post.user_id.to_i == current_user.id %>
            <%= link_to "x", post, method: :delete, data: { confirm: "Click 'Confirm' to delete." } %>
            <% end %>
          <% end %>
   
          </span></h3>
          
        

          <p class="content"><%= post.post_content %></p>
          <p class="posted">posted <%= distance_of_time_in_words_to_now(post.created_at) + " ago." %>
            <a class="show-reply reply">&lt;reply&gt;</a>
          </p>

          <div class="input-append reply-form">
      
            <span class="input-group-btn">
            <%= form_for(:comment, :url => {:controller => :comments, :action => 'create'}) do |f| %>
            <%= f.text_area(:comment_content, rows:5, class: "form-control") %>  
            <%= if user_signed_in? then f.hidden_field(:user_id, :value => current_user.id) end%>
            <%= f.hidden_field(:post_id, :value => post.id)%>
            <%= f.submit(class: 'btn btn-default') %>
            </span>
            <% end %>     
          </div> 
        </div>
        <div class="comments">
          <% @comments.each do |comment| %>
              <% if comment.post_id == post.id %>
        	      <div class="comment">

                <h3 class="writer title"><%= comment.user.first_name  + " " + comment.user.last_name %><span class ="deleted">
                  <% if user_signed_in? %>
                    <% if post.user_id.to_i == current_user.id %>
                      <%= link_to "x", comment, method: :delete, data: { confirm: "Click 'Confirm' to delete." } %>
                    <% end %>
                  <% end %>
                 </h3>
        	       <p class="content"><%= comment.comment_content %></p>
        	       <p class="posted-comment">posted <%= distance_of_time_in_words_to_now(comment.created_at) + " ago." %></p>
                </div>
              <% end %>          
          <% end %>
        </div>
	    </div>
    <% end %>
<br>
<br>
<br>
<p>You have reached the end of the road
</p>

