   <h1>Whiteboard</h1>
   

   <h3 id="newpost" class="new-post"> &lt;new_post&gt;</h3>
      <div class="input-append" id="hidden-textarea">
        <div class="input-group-btn">
          <%= form_for(:post, :url => {:action => 'create'}) do |f| %>
          <%= if user_signed_in? then f.hidden_field(:user_id, :value => current_user.id) end%>
          <%= f.text_area(:post_content, rows:5, class: "form-control") %>  
          <%= f.submit(class: 'btn btn-default') %>
          </div>
        <% end %>

     </div>     





    <% @posts.each do |post| %>
      


      <div class="post">
        <div class = "initial-post">
          <h3 class="title writer"><%= post.user.first_name + " " + post.user.last_name %> <span class ="deleted">
          <% if user_signed_in? %>
            <% if post.user_id.to_i == current_user.id %>
            <%= link_to "x", post, method: :delete, data: { confirm: "Click 'Confirm' to delete." } %>
            <% end %>
          <% end %>
   
          </span></h3>
          
        

          <p class="content"><%= post.post_content %></p>
          <p class="posted">posted <%= distance_of_time_in_words_to_now(post.created_at) + " ago." %>
            <a class="show-reply reply">&lt;reply&gt;</a>
          </p>

          <div class="input-append reply-form"  >
      
            <span class="input-group-btn">
            <%= form_for(:comment, :url => {:controller => :comments, :action => 'create'}) do |f| %>
            <%= if user_signed_in? then f.hidden_field(:user_id, :value => current_user.id) end%>
            <%= f.hidden_field(:post_id, :value => post.id)%>
            <%= f.text_area(:comment_content, rows:5, class: "form-control") %>  

            <%= f.submit(class: 'btn btn-default') %>
            </span>
            <% end %>     
          </div> 
        </div>
        <div class="comments">

          <% @comments.each do |comment| %>
            <div class="comment">
              <% if comment.post_id == post.id %>
        	      <h3 class="writer title"><%= comment.user.first_name  + " " + comment.user.last_name %><span class ="deleted">
                  <% if user_signed_in? %>
                    <% if post.user_id.to_i == current_user.id %>
                      <%= link_to "x", comment, method: :delete, data: { confirm: "Click 'Confirm' to delete." } %>
                      <% end %>
                    <% end %>


                 </h3>
        	       <p class="content"><%= comment.comment_content %></p>
        	       <p class="posted-comment">posted <%= distance_of_time_in_words_to_now(comment.created_at) + " ago." %></p>
              <% end %>
            </div>
          <% end %>
        </div>
	    </div>
    <% end %>
<br>
<br>
<br>
<p>You have reached the end of the road
</p>

